/* Referencia - https://youtu.be/kwu7FaPGxCI */

/* Valores Generales */

* {
    margin:0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: 'Raleway', sans-serif;
}

[class^="far fa"]{
    font-size: 60px !important;
    text-align: center;
}

.grid {
    display: grid;
    width: 90%;
    max-width: 1100px;
    height: 100%;
    margin: auto;
    grid-row-gap:10px;
    overflow: hidden;
    align-items: center;
    margin-bottom: 20px;
}

.gridDev {
    display: grid;
    width: 90%;
    max-width: 1100px;
    margin: auto;
    grid-gap:10px;
    overflow: hidden;
    align-items: center;
}

/* Hero Section */

#heroSection .grid {
    display: grid;
    width: 90%;
    grid-template-columns: 1fr;
    text-align: center;
    max-width: 1100px;
    height: 100%;
    margin: auto;
    overflow: hidden;
    align-items: center;
    margin-bottom: 30px;
    margin-top: 30px;
} 

#heroSection .weight-400  {
    font-weight: 400;
}

#heroSection .weight-600  {
    font-weight: 600;
    padding-bottom: 20px;
}

#heroSection .parrafo {
    margin-bottom: 20px;
}

#heroSection .img-hero  {
    width: 100%;
    height: auto;
    grid-column: 7/13;
    display: flex;
}

#heroSection .textos-hero  {
    grid-column: 1/7;
    padding-right: 40px;
}


#heroSection .textos-hero p {
    text-align: justify ;
}

#heroSection .ctaBtn  {
    width: 250px;
    background: black;
    color: white;
    display: inline-block;
    text-align: center;
    padding: 10px 10px;
    text-decoration: none;
}

#heroSection .img  {
    width:100%;

}

#heroSection .imgProfile {
    border-radius: 50%;
    margin: auto;

}
/* END Hero Section */

/* START sobreMi Section */

#cardSobreMi {
    height: 350px;
    background:linear-gradient(180deg, white 50%, black 50%);
}

#cardSobreMi .grid {
    display: grid;
    width: 90%;
    max-width: 1100px;
    height: 100%;
    margin: auto;
    grid-gap:10px;
    overflow: hidden;
    align-items: center;
    margin-bottom: 15px;
} 


#cardSobreMi .items {
    grid-template-columns: 1fr 1fr 1fr;
    display: grid;
    width: 100%;
    height: 100%;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    grid-gap:10px;
    padding: 10px 7px;

}

#cardSobreMi .items .item img{
    max-height:130px;
    max-width: 220px;
}

#cardSobreMi .items .item {
    background: white;
    box-shadow: 0 0 6px rgba(0, 0, 0, 0.5);
    overflow: hidden;
    padding: 20px 10px;
    text-align: center;
    height: 250px;
 }

 #cardSobreMi .bigNumber {
     font-size: 50px;
     font-weight: 700;
 }

 /* END sobreMi Section */


/* START aboutUs Section */

#aboutUs {
    background: black;
    color: white;
    height: auto;
    padding-bottom: 60px;
}


#aboutUs .grid {
    display: grid;
    width: 90%;
    max-width: 1100px;
    height: 100%;
    margin: auto;
    grid-gap:10px;
    overflow: hidden;
    align-items: center;
    margin-bottom: 20px;
} 


#aboutUs .textos-about-us  {
    text-align: center;
}

#aboutUs .textos-about-us .parrafo {
    margin-top: 10px;
    color: lightgray;
}

#aboutUs .stack {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    padding-top: 20px;
    padding-bottom: 20px;
}

/* END aboutUs Section */

/* START businessAreaHeader Section */

#businessAreaHeader {
    padding-top: 30px;
}

#businessAreaHeader .textosSectionHome  {
    grid-column: 3/11;
    text-align: center; 
}

#businessAreaHeader .textosSectionHome .parrafo .subtitulo {
    color:black;
}

#businessAreaHeader .parrafo{
     margin-bottom: 10px !important;
}

/* END businessAreaHeader Section */

/* START Mission Section */

#mission {
    color: black;
    padding:40px 0;
}

#mission .img  {
    width: 95%;
}

#mission .imgProfile {
    border-radius: 50%;
    margin: auto;
}

#mission .parrafo {
    margin-bottom: 20px;
}
#mission .grid{
    grid-template-columns: 1fr 1fr ;
}
#mission .textos-mission  {

    margin-bottom: 10px;
}

/*
.textos-mission .parrafo {
    color: lightgray;
}
*/

/* START CTA Section */

#ctaSection {
    background: black;
    color: white;
    height: auto;
    padding-top: 10px;
    padding-bottom: 20px;
    display: flex;
    display:grid;
}

#ctaSection .cta-row { /* No funciona las columnas */
    text-align: center;
}

#ctaSection .cta-row2 {
    text-align: center;
}

#ctaSection .cta-row .parrafo {
    margin-top: 10px;
    color: lightgray;
}

#ctaSection .subtituloCta {
    font-size: 30px;
}

#ctaSection #inputSuscribe {
    text-align: center;
    border: transparent 1px solid;
    border-radius: 20px / 50%; 
    padding: 1em 3em;
    background-color:#f5f5f5;
    color: black;
    font-family: "Open Sans", sans-serif;
    font-weight: 900;
    font-size: 13px;
    /*width: 300px;*/
}

#ctaSection #butonCTA {
    border: transparent 1px solid;
    border-radius: 20px / 50%; 
    padding: 1em 3em;
    background-color:#f5f5f5;
    color: black;
    font-family: "Open Sans", sans-serif;
    font-weight: 900;
    font-size: 13px;
}


/* END CTA Section */

/* START Portfolio Section */

#portfolio .grid {
    display: grid;
    width: 90%;
    max-width: 1100px;
    height: 100%;
    margin: auto;
    grid-gap:10px;
    overflow: hidden;
    align-items: center;
    margin-bottom: 20px;
} 

/* PROBLEMAS EN ESTA SECCION ENTRE ITEMS E ITEM */

#portfolio .items {
    grid-template-columns: 1fr 1fr 1fr;
    display: grid;
    width: 100%;
    height: 100%;
    padding: 20px 20px;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    grid-gap:10px;
}

#portfolio .item {
    background: white;
    width: 30%;
  /*  box-shadow: 0 0 6px rgba(0, 0, 0, 0.5); */
    border: 2px solid;
    overflow: hidden;
    text-align: center;
    padding-right: 7px;
    padding-left: 7px;

 }
 
 #portfolio .items .item img{
     max-height:200px;
     max-width: 300px;
 } 

 #portfolio .textCard{
    padding-bottom: 20px;
} 

 #portfolio button {
    position: absolute;
    right: 0px;
    bottom: 0px;
    width: 100%;
    height: 50px;
    background-color:black;
    border: none;
    text-transform: uppercase;
    color:white;
    padding: 0 !important;

}


#portfolio .textosSectionHome  {
    grid-column: 3/11;
    text-align: center; 
}

#portfolio .textosSectionHome .parrafo .subtitulo {
    color:black;
}

#portfolio .parrafo{
     margin-bottom: 10px !important;
}

#portfolio .btnBlack { 
    display: flex;    
}
    
#portfolio #contactoBtnCenter {
        border-radius: 50px; 
        background-color:black;
        color: white;
        padding: 10px 20px;
        font-family: "Open Sans", sans-serif;
        align-items: center;
        font-weight: 900;
        font-size: 14px;
        margin:auto;
        margin-bottom: 20px;
}

/* END Portfolio Section */

/* START ITEMS DEV Portfolio Section in Desarrollo.html */


.itemsDev {
    grid-template-columns: 1fr 1fr 1fr;
    display: grid;
    grid-column-gap: 15px;
    width: 100%;
    height: 100%;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    grid-row-gap:15px; 
    padding-bottom: 10px;
    padding-top: 10px;
}

.itemDev {
   background: white;
   box-shadow: 0 0 6px rgba(0, 0, 0, 0.5);
   overflow: hidden;
   height: 220px;
   padding: 20px 10px;
   text-align: center;
}

.item1 {
    background: white;
    width: 30%;
    box-shadow: 0 0 6px rgba(0, 0, 0, 0.5);
    overflow: hidden;
    height: 220px;
    display: grid;
    align-items: center;
}

.titulo-services {
    margin: 10px;
}


/* Footer */

footer {
    background: black;
    color: white;
    padding:30px 0;
    text-align: center;
}
footer .grid {
    grid-template-rows: 1fr;
}
footer .grid a{
    margin-right: 10px;
}
 
[class^="fab fa"], [class^="fas fa"]{
    font-size: 50px;
} 

.textos-footer  {
    grid-column: 1/-1; 
    margin-bottom: 15px;
}


[class^="footer-item"] a {
    font-size: 60px;
}
@media screen and (max-width: 768px){
    .itemsDev {
        grid-template-columns: 1fr !important;
    }
    .itemDev {
        height: 180px !important;
    }
    #mission .simple-form {
    padding: 20px 10px;
}
#mission .grid {
    grid-template-columns: 1fr !important;
}
    [class^="footer-item"] a {
    font-size: 32px;
    }
    #aboutUs .textos-about-us {
        padding-top: 7px;
        padding-bottom: 7px;
    }
    #aboutUs {
        padding-top: 20px !important;
        padding-bottom: 30px !important;        
    }
    #aboutUs .stack {
    grid-column: initial;
    }
    #aboutUs .textos-about-us  {
    grid-column: initial;
}
}
[class^="footer-item"]{
grid-column: span 4;
}



/* Pagina Desarrollo */


#servicesDev {
    background: black;
    padding-top: 15px;
    padding-bottom: 15px;

}


/* START Formulario Section */

.simple-form{
    border:1px solid rgba(0, 0, 0, 0.5);
	padding:50px;
	display:grid;
	grid-template-columns:1fr; 
	grid-row-gap: 7px;
    grid-column-gap: 5px;
}

.simple-form label {
    grid-column: 1 / 2;
}

.simple-form input {
padding:10px 10px;
}

.simple-form button {
    padding:10px 20px;

}
 
.simple-form input,
.simple-form button {
    /*grid-column: 2 / 3;*/
}



/* WhatsApp Icon */


.float{
	position:fixed;
	width:60px;
	height:60px;
	bottom:40px;
	right:40px;
	background-color:#25d366;
	color:#FFF;
	border-radius:50px;
	text-align:center;
    font-size:30px;
	box-shadow: 2px 2px 3px #999;
  z-index:100;
}

.my-float{
	margin-top:16px;
}

#ctaSection .grid{
    grid-column-gap: 70px;
}
/* Pantallas 800px */
    #ctaSection .grid{
        grid-template-columns: 1fr 1fr !important;
    }
@media screen and (max-width:768px) {
    .float {
        width: 50px;
        height: 50px;
        bottom: 10px;
        right: 10px;
    }
    .my-float {
    margin-top: 10px;
}
    #cardSobreMi .items {
        grid-template-columns: 1fr !important;
    }
    #portfolio .items {
        grid-template-columns: 1fr !important;
    }
    #portfolio .items .item {
        width: 100% !important;
    }
    #ctaSection .grid{
        grid-column-gap: 10px !important;
        grid-template-columns: 1fr!important;
    }
    #ctaSection .cta-row2 .simple-form {
        padding: 10px 10px !important;
        grid-template-columns: 1fr !important;
    }

    #cardSobreMi {
        height: initial;
    }

    #heroSection {
        height: auto;
    }
    #heroSection .grid {
        grid-row-gap:10px;
    }
    #heroSection .img-hero, .textos-hero {
        grid-column: 1/-1;
    }
    .titulo-services {
        font-size:18px;
        margin:10px 0px;
    }
    .bigNumber {
        font-size: 40px !important;
    }
    .img-hero {
        text-align: center;
    }
    .portfolio .items .item img{
        max-width: 200px !important;
    }
    .textos-hero {
        margin-top: 40px;
        padding-right: 5px !important;
        display: grid;
        justify-content: center;
    }
    #heroSection .ctaBtn {
        margin:auto;
    }

    #sobreMi  {
       height: auto;
       margin-top:40px;
    }
    .item  {
        height: auto !important;
        padding: 12px 7px !important;
     }
    .parrafo  {
        margin-bottom: 15px;
    }

    .img-mission {
        grid-column: 1/-1 !important;
        grid-row:1/1 !important;
        text-align: center;

    }
    .textos-mission {
        grid-column: 1/-1 !important;
        grid-row: 2/3 !important;
        align-self: center;
        text-align: center;
    }
}



}

/* Pantallas 400px */

@media screen and (max-width:426px) {
    #mission {
        padding: 20px 0;
    }
    .img { 
        max-width: auto;
    }

    .grid {
        grid-template-columns: 1fr !important;
        grid-row-gap: 5px !important;
    }
    #heroSection .grid {
        grid-column-gap: 0px !important;
    }
    #cardSobreMi .items .item {
        width: 95% !important;
    }
 }

    #cardSobreMi .items .item {
        background: white;
        box-shadow: 0 0 6px rgba(0, 0, 0, 0.5);
        overflow: hidden;
        padding: 20px 10px;
        text-align: center;
        height: 250px;      
        margin: 0px;
        display: flex;
        flex-direction: column;
        justify-content: center;
     }

     #portfolio .items .item {
        position: relative;
        background: white;
        box-shadow: 0 0 6px rgba(0, 0, 0, 0.5);
        overflow: hidden;
        padding-top: 20px;
        text-align: center;
        width: 100%; 
        min-height: 280px;       
        margin: 0px;
     }
/*
    #portfolio {
        grid-column: 1/-1;

    }

    .item-portfolio {
        grid-template-columns: repeat(auto-fit, minmax(180px), 1fr);

    }

    .grid-portfolio {
        grid-template-columns: repeat(auto-fit, minmax(180px), 1fr);
    }

    */

    .number {
        width: 55%;
        border-bottom: 1px solid white;
        margin-bottom: 20px;
        padding-bottom: 5px;
    }

    .textos-mission h3{
        margin-bottom: 20px;
    }

    [class^="footer-item"]{
    grid-column: 1/-1;
}
  
}
