/* Referencia - https://youtu.be/kwu7FaPGxCI */

/* Valores Generales */


* {
    margin:0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: 'Raleway', sans-serif;
}

.grid {
    display: grid;
    grid-template-columns: repeat(12,1fr);
    width: 90%;
    max-width: 1100px;
    height: 100%;
    margin: auto;
    gap:10px;
    overflow: hidden;
    align-items: center;
}

.gridDev {
    display: grid;
    grid-template-columns: repeat(12,1fr);
    width: 90%;
    max-width: 1100px;
    margin: auto;
    gap:10px;
    overflow: hidden;
    align-items: center;
}

/* Valores Generales */


.weight-400  {
    font-weight: 400;
}

.weight-600  {
    font-weight: 600;
    padding-bottom: 20px;
}

.parrafo {
    margin-bottom: 60px;
}

.header  {
    height: 600px;
}

.img-hero  {
    width: 100%;
    height: auto;
    grid-column: 7/13;
    display: flex;
}

.img  {
    width: 95%;

}

.imgProfile {
    border-radius: 50%;
    margin: auto;

}

.textos-hero  {
    grid-column: 1/7;
    padding-right: 40px;
}


.textos-hero p {
    text-align: justify ;
}

.cta  {
    width: 250px;
    background: black;
    color: white;
    display: inline-block;
    text-align: center;
    padding: 10px 10px;
    text-decoration: none;
}

/* Header */

.services {
    height: 370px;
    background:linear-gradient(180deg, white 50%, black 50%);
}


.servicesDev {
    background: black;
}

.items {
    grid-column: 1/-1;
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
}

.itemsDev {
    grid-column: 1/-1;
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    padding-bottom: 10px;
    padding-top: 10px;
}

.item {
   background: white;
   width: 30%;
   box-shadow: 0 0 6px rgba(0, 0, 0, 0.5);
   overflow: hidden;
   height: 220px;
   padding: 20px 10px;
   text-align: center;
}

.itemDev {
   background: white;
   width: 30%;
   box-shadow: 0 0 6px rgba(0, 0, 0, 0.5);
   overflow: hidden;
   height: 220px;
   padding: 20px 10px;
   text-align: center;
}

.item1 {
    background: white;
    width: 30%;
    box-shadow: 0 0 6px rgba(0, 0, 0, 0.5);
    overflow: hidden;
    height: 220px;
    display: grid;
    align-items: center;
}


[class^="far fa"]{
    font-size: 60px !important;
    text-align: center;
}

.titulo-services {
    margin: 20px;
}

/* About us */

.about-us {
    background: black;
    color: white;
    height: auto;
    padding-bottom: 60px;
}

.textos-about-us  {
    grid-column: 3/11;
    text-align: center;
}

.textos-about-us .parrafo {
    margin-top: 10px;
    color: lightgray;
}

.textosSectionHome  {
    grid-column: 3/11;
    text-align: center; 
}

.textosSectionHome .parrafo .subtitulo {
    color:black;
}

.numbers {
    grid-column: 1/-1;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.number {
    text-align: center;
    font-size: 30px;
    width: 22%;
}

/* Business area */

#businessArea {
    padding-top: 30px;
}

#businessArea .parrafo{
     margin-bottom: 10px !important;
}


/* Mission */


.mission {
    color: black;
    padding:40px 0;
}

.textos-mission  {
    grid-column: 7/15;
    grid-row: 1/-1; 
}
/*
.textos-mission .parrafo {
    color: lightgray;
}
*/

.img-mission  {
    grid-column: 1/6;
    grid-row: 1/-1;
}

/* Grid Portolfio en Home */

.btnBlack { /* Nada funciona para centrar :L */
display: flex;

}

#contactoBtnCenter {
    border-radius: 50px; 
    background-color:black;
    color: white;
    padding-left: 20px;
    padding-right: 20px;
    font-family: "Open Sans", sans-serif;
    align-items: center;
    font-weight: 900;
    font-size: 13px;
    margin:auto;
    margin-bottom: 20px;

}

/* Footer */

footer {
    background: black;
    color: white;
    padding:50px 0;
    text-align: center;
}
/* 
[class^="fab fa"]{
    font-size: 50px;
} */

.textos-footer  {
    grid-column: 1/-1; 
    margin-bottom: 30px;
}


[class^="footer-item"] a {
    font-size: 60px;
}

[class^="footer-item"]{
grid-column: span 4;
}

/* Pantallas 800px */

@media screen and (max-width:800px) {
    .header {
        height: auto;
    }
    .grid {
        grid-gap:30px;
    }
    .img-hero, .textos-hero {
        grid-column: 1/-1;
    }

    .img-hero {
        text-align: center;
    }

    .textos-hero {
        margin-top: 40px;
    }

    .textos-hero {
        margin-top: 40px;
    }

    .services  {
       height: auto;
       margin-top:40px;
    }

    .item  {
        width: 60%;
        margin:40px 0;
        height: auto;
        padding: 40px;
     }


    .parrafo  {
        margin-bottom: 20px;
    }

    .img-mission {
        grid-column: 1/-1;
        grid-row:2/3;
        text-align: center;
    }

    .textos-mission {
        grid-column: 1/-1;
        grid-row:1/2;
       align-self: center;
    }
}

/* Pantallas 400px */

@media screen and (max-width:400px) {
    .img {
        max-width: 170px;
    }

    .grid {
        grid-template-columns: repeat(auto-fit, minmax(180px), 1fr);
    }

    .item  {
        width: 90%;
        flex-shrink: 0;
    }

    /* No puedo poner el portfolio en una sola columna 

    #portfolio {
        grid-column: 1/-1;

    }

    .item-portfolio {
        grid-template-columns: repeat(auto-fit, minmax(180px), 1fr);

    }

    .grid-portfolio {
        grid-template-columns: repeat(auto-fit, minmax(180px), 1fr);
    }

    */

    .number {
        width: 55%;
        border-bottom: 1px solid white;
        margin-bottom: 20px;
        padding-bottom: 5px;
    }

    .textos-mission h3{
        margin-bottom: 20px;
    }

    [class^="footer-item"]{
    grid-column: 1/-1;
}
  


}

